div.list {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
}

a.wrap {
  display: block;
  padding: .5rem ;
  color: #333;
}

div.item {
  width: 100%;
  display: flex;
}

div.thumb {
  flex: 0 0 11rem;
  width: 11rem;
  height: 7.5rem;
  overflow: hidden;
}

div.thumb img {
  width: 100%;
  transform: scale(1.5) translateY(1rem);
}

div.content {
  position: relative;
  flex: 1;
  padding-left: 0.5rem;
}

div.content h2 {
  font-size: 1.6rem;
  line-height: 1.5rem;
  padding-bottom: 0.3rem;
}

div.content p.info {
  position:relative;
  line-height:1.7em;
  overflow:hidden;
}

div.content p.time_source {
  line-height: 2rem;
  position: absolute;
  bottom: 0;
}

div.content p.time_source span {
  margin-right: 0.8rem;
}

div.content p.time_source span:last-child {
  margin-right: 0;
}
